.container {
    display: flex ; 
    flex-direction: row;
    flex-flow: row wrap;
}
 body{
    margin-top: 0 ;
}
.item2 {
    padding: 30px;
    margin: 2px;
    background-color: red;
}
.item1 {
    padding: 30px;
    margin: 2px;
    background-color: green ;
}
.item3 {
    padding: 30px;
    margin: 2px;
    background-color: blue ;
}

